:root {
    --bg-color: #f4f9fc;
    --header-bg: #e9f2f7;
    --card-bg: #ffffff;
    --text-primary: #0f172a;
    --text-secondary: #475569;
    --accent-color: #009cbd;
    --accent-hover: #00819e;
    --secondary-color: #eaf3f8;
    --secondary-hover: #d2e4f0;
    --border-color: #cfe2f0;
    --success-color: #0ea5e9;
    --error-color: #f43f5e;
}


